// Variables globales CSS -> variables SASS
$color-accent-blue: #1F4E95;
$color-bg-main: #f1f4f1;
$color-copy-grey: #202020;
$color-copy-black:#000000;
$color-gd-green:#c3e2de;
$color-gd-grey:#f5f7fa;
$font-size-navbar: 1.25rem;
$font-size-subtitle: 2rem;
$font-size-description: 1rem;
$font-size-secondary: 1rem;