// Variables globales CSS -> variables SASS
$color-accent-blue: #1F4E95;
$color-bg-main: #f1f4f1;
$color-copy-grey: #2b2b2b;
$font-size-navbar: 1.25rem;
$font-size-subtitle: 1rem;
$font-size-description: 1rem;
$font-size-secondary: 1rem;