/*Start Contact section*/
.main__contact {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50rem;
    background-image: linear-gradient(135deg, $color-gd-grey 0%, $color-gd-green 100%);

    .grid__container-contact {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas:
            "title__contact title__contact"
            "contact-map__container contact-form__container";

        margin: 5% 10%;
        border-left: 4px solid $color-copy-grey;

        background-color: $color-bg-main;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


        .grid__title.title__contact {
            grid-area: title__contact;
            height: 8rem;

            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;

            border-bottom: 1px solid black;

            h4 {
                padding-left: 8rem;
            }

            h3 {
                padding-left: 8rem;
            }
        }

        .contact-map__container {
            grid-area: contact-map__container;

            padding: 1rem 8rem 1rem 8rem;

            iframe {
                height: 20rem;
                width: 20rem;
                margin: 2rem 0 0 0;
            }

            ul {
                list-style-type: none;

                li {
                    text-decoration: none;
                    font-family: kanit-regular;
                }
            }
        }

        .contact-form__container {
            grid-area: contact-form__container;
            font-family: kanit-light;
            font-size: $font-size-description;


            display: flex;
            flex-direction: column;
            justify-content: right;

            padding: 1rem 15rem 1rem 0;

            label{
                width: 5rem;
            }

            input {
                margin-bottom: 0.5rem;
                width: 30rem;
                justify-content: right;
                border-radius: 0;
                border: 0px solid black;
                &.submit{
                    width: 30rem;
                }
            }

            textarea{
                width: 30rem;
                border-radius: 0;
                border: 0px solid black;
            }
        }


    }

}

/*End Contact section*/