/*Services - grid*/
.main__services {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50rem;
    background-image: linear-gradient(135deg, $color-gd-grey 0%, $color-gd-green 100%);
}

.grid__container-services.grid--desktop {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
    "title__services--desktop title__services--desktop"
    "grid__list description__container-services";

    margin: 5% 10%;
    border-left: 4px solid $color-copy-grey;

    background-color: $color-bg-main;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title__services--desktop {
    grid-area: title__services--desktop;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    border-bottom: 1px solid black;

    h4 {
        padding-left: 8rem;
    }

    h3 {
        padding-left: 8rem;
    }
}

.description__container-services {
    grid-area: description__container-services;
    
    display: flex;
    flex-direction: column;

    p {
        padding-top: 2rem;
    }
}

.grid__list{
    grid-area: grid__list;

}

/*End - services - Grid*/