/*Services - grid*/
.grid__container-services {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    margin: 5% 10%;
    background-color: $color-bg-main;
    border-left: 4px solid $color-copy-grey;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid__title {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
}

.grid__description {
    grid-column: 2/3;
    grid-row: 2/3;
}

.main__services {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50rem;
    background-image: linear-gradient(135deg, $color-gd-grey 0%, $color-gd-green 100%);
}
/*End - services - Grid*/