/*Start - Main content - homepage*/
.herobox__container-homepage {
    background-image: url(../assets/images/beach-image.jpg);
    background-size: cover;
    border-radius: 2rem 2rem 0rem 0rem;
    height: 60rem;
}

.title--homepage {
    padding: 15rem 0 0 5rem;
    font-family: kanit-regular;

    h1 {
        font-size: $font-size-title;
    }

    h3 {
        font-size: $font-size-subtitle;
    }
}
/*End - Main content - homepage*/