/*Services - grid*/
.grid__container-services {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    margin: 5% 10%;
    background-color: $color-bg-main;
    border: 1px solid black;
}

.grid__title {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
}

.grid__description {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    border-left: 1px solid lightgrey;
}

.main__services {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50rem;
}
/*End - services - Grid*/