/*Start About section*/


.grid__container-about {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "title--about title--about"
        "about-thumbnail__container about-description__container";
    margin: 5% 10%;
    background-color: $color-bg-main;
    border: 1px solid black;
    width: 100%;
    padding-bottom: 2rem;
}

.title--about {
    grid-area: title--about;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
}

.main__about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.about-thumbnail__container {
    grid-area: about-thumbnail__container;
}

.about-description__container {
    grid-area: about-description__container;
    border-left: 0px solid black;
}

.grid__container-about {
    div.grid__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.grid__container-about {
    img.grid__thumbnail {
        object-fit: cover;
        height: 18rem;
        width: 18rem;
        border: 1px solid black;
    }
}

.about-thumbnail__container {
    border-right: 0px solid black;
}


/*End About section*/