/*Start About section*/

.main__about {
    background-image: linear-gradient(135deg, $color-gd-grey 0%, $color-gd-green 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}


.grid__container-about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "title__about title__about"
        "about-img__container about-description__container";

    background-color: $color-bg-main;
    border-left: 4px solid $color-copy-grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    width: 80%;
    margin: 5% 10%;
    padding-bottom: 2rem;

    img.about-img {
        object-fit: cover;
        height: 20rem;
        width: 20rem;
        margin: 2rem 0rem 0rem 5rem;
        border-bottom-right-radius: 5rem;
    }

}

.title__about {
    grid-area: title__about;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;

    h4 {
        padding-left: 8rem;
    }

    h3 {
        padding-left: 8rem;
    }
}

.about-img__container {
    grid-area: about-img__container;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-description__container {
    grid-area: about-description__container;
    border-left: 1px solid $color-bg-main;
    display: flex;
    flex-direction: column;

    p {
        padding-top: 2rem;
    }
}

/*End About section*/