/*Grids - Typography*/
.grid__title {
    a {
        text-decoration: none;
    }

    h4 {
        font-weight: 500;
        font-size: $font-size-subtitle;
        font-family: kanit-regular;
        color: $color-copy-black;
    }

    h3 {
        font-size: 1rem;
        font-family: kanit-light;
        color: $color-copy-grey;
    }
}

.grid__description {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $color-bg-main;

    p {
        width: 70%;
        text-align: left;
        font-family: kanit-light;
        padding-top: 2rem;
    }
}

.grid__list {
    ul {
        /*    list-style-type: none; */
        text-decoration: none;
        padding-left: 5rem;
        padding-top: 2rem;
    }
}

.grid__list {
    ul {
        li {
            a {
                text-decoration: none;
                font-family: kanit-regular;
                color: black;
                line-height: 2rem;
            }
        }
    }
}

.grid__list {
    li :hover {
        color: $color-accent-blue;
    }
}